{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h2>
                        Curso de Python com Mario World
                    </h2>
                    <h4 class="mt-4">Matriculas abertas, preço R$ 100,00</h4>
                    <!-- INICIO DO BOTAO PAGSEGURO -->
                    <a href="https://pag.ae/7Y1xnXGzv/button" target="_blank" title="Pagar com PagSeguro"><img
                            src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
                            alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
                    <!-- FIM DO BOTAO PAGSEGURO -->

    <!--				<h4 class="mt-4">Entre na fila de espera</h4>-->

    <!--				<form action="https://hotmail.us14.list-manage.com/subscribe/post?u=da82b72ab5219e801f87ef509&amp;id=9770df36ed"-->
    <!--					  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
    <!--					  class="form-row align-items-center" target="_blank" novalidate>-->

    <!--					<div class="form-row align-items-center">-->
    <!--						<div class="col-auto mt-2">-->
    <!--						  <label class="sr-only" for="mce-EMAIL">Email</label>-->
    <!--						  <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@email.com">-->
    <!--						</div>-->

    <!--						<div>-->
    <!--							<div class="col-auto mt-2">-->
    <!--							  <label class="sr-only" for="mce-FNAME">Nome</label>-->
    <!--							  <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu Nome">-->
    <!--							</div>-->

    <!--					&lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;-->
    <!--							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_da82b72ab5219e801f87ef509_9770df36ed" tabindex="-1" value=""></div>-->

    <!--						</div>-->
    <!--						<div class="col-auto mt-2">-->
    <!--						  <input type="submit" value="Salvar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">-->
    <!--						</div>-->
    <!--					</div>-->
    <!--				</form>-->

                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">
                        Mais detalhes sobre o intrutor
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <img src="{% static 'img/mario2.jpg' %}" alt="Foto do Mario" class="img-thumbnail float-start mr-3"/>
                            <a href="https://www.globo.com/" target="_blank" >Python Fluente </a>.
                            Mario é retratado como um encanador corpulento que vive na terra fictícia do Reino do Cogumelo com Luigi, seu irmão mais novo e mais alto.[2]
                            Na série de televisão e no filme, Mario e Luigi são originalmente de Brooklyn, Nova York.[3]
                            Pouco se sabe sobre a infância de Mario, embora a versão infantil de Mario, Baby Mario, tenha aparecido pela primeira vez em 1995 em Super Mario World 2: Yoshi's Island, e tenha aparecido frequentemente em jogos de esportes da Nintendo desde então. Baby Mario tem um papel importante junto com Baby Luigi em Mario & Luigi: Partners in Time e aparece em Yoshi's Island DS. Ele, junto com o adulto Mario, é dublado por Charles Martinet
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock body %}
